astroid==2.3.3
beautifulsoup4==4.8.2
bottle==0.12.18
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
feedparser==5.2.1
Flask==1.1.1
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
pylint==2.4.4
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
urllib3==1.25.7
Werkzeug==0.16.0
wrapt==1.11.2
